/* HEADER LINE */
.header {
     padding-bottom: 120px;
}

.header__line {
     width: 100%;
     max-width: 1440px;

     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 35px 57px 35px 64px;
}


.header__logo {
     max-width: 150px;
     height: auto;
}

.menu__container {
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.menu {}

.menu__list {
     display: flex;
     margin: 0 24px 0 0;
}

.menu__item {
     padding: 0 16px;
     max-height: 56px;

     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
     letter-spacing: 0.02em;

     color: rgba(0, 0, 0, 0.8);
}

.menu__link {
     display: block;
     overflow: hidden;
}

.menu__link:hover {
     font-weight: 700;
}

.header__menu-button {
     width: 209px;
     height: 56px;

     background-color: #4269E0;
     border-radius: 4px;

     font-size: 18px;
     line-height: 24px;
     letter-spacing: 0.02em;
     color: #fff;

}

/* HEADER CONTENT */

.header_container {
     width: 100%;
     max-width: 1305px;

     display: flex;
     justify-content: space-between;

     margin: 0 auto;
}

.header__content {
     width: 100%;
     max-width: 590px;

     display: flex;
     flex-direction: column;
     justify-content: center;
}

.header__title {
     font-weight: 800;
     font-size: 52px;
     line-height: 56px;

     color: #303A53;

     margin-bottom: 16px;
}

.header__subtitle {
     font-size: 22px;
     line-height: 40px;

     color: #000000;
     opacity: 0.6;

     margin-bottom: 32px;
}

.header__content-button {
     width: 231px;
     height: 56px;

     background: #FF7468;
     border-radius: 4px;

     font-weight: 700;
     font-size: 18px;
     line-height: 24px;
     color: white;
}

.header__image {
     max-width: 620px;
     height: auto;
}