.services {
     width: 100%;
     max-width: 1440px;

     margin: 0 auto;
     padding: 59px 62px 47px 62px;
}

/* HEAD */
.section-head {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.services__head {
     max-width: 847px;

     padding-top: 56px;
     padding-bottom: 48px;
     margin: 0 auto;
}

.section-head__title {
     font-weight: 700;
     font-size: 32px;
     line-height: 32px;
     letter-spacing: 0.1em;

     color: #000000;
     opacity: 0.9;
}

.services__title {
     margin-bottom: 24px;
}



.section-head__subtitle {
     font-size: 22px;
     line-height: 40px;
     text-align: center;

     color: #000000;
     opacity: 0.6;
}

.services__subtitle {}

/* CARDS */

.cards-block {}

.services__cards-block {
     max-width: 1320px;
     width: 100%;

     display: flex;
     justify-content: space-between;
     align-items: stretch;
     flex-wrap: wrap;
     gap: 30px 20px;
}

.card {}

.services__card {
     max-width: 420px;
     max-height: 300px;
     width: 100%;

     padding: 40px 32px;

     border-radius: 4px;
     box-shadow: 5px 10px 10px lightgrey;
     border: 2px solid rgba(0, 0, 0, 0.05);

}

.card__image {}

.services__card-image {
     width: 72px;
     height: auto;
     padding-bottom: 24px;
}

.card__title {}

.services__card-title {
     font-weight: 600;
     font-size: 22px;
     line-height: 32px;

     letter-spacing: 0.04em;

     color: rgba(0, 0, 0, 0.8);
     opacity: 0.9;

     margin-bottom: 8px;
}

.card__text {}

.services__card-text {
     font-size: 18px;
     line-height: 28px;

     color: rgba(0, 0, 0, 0.8);
     opacity: 0.6;
}