.wrapper {
     display: flex;
     justify-content: center;
     padding: 100px 0;

     font-family: "inter";
     font-size: 22px;
}

.container {

     background-color: rgba(15, 72, 107, 0.6);
     border-radius: 10px;
}

.list {
     position: relative;
     padding: 2em;
     display: flex;
     flex-direction: column;
     gap: 1em;
}

.list__item {
     position: relative;
     overflow: hidden;

     display: block;
     padding: 1em;
     color: #0F4669;
     background-color: #209CE8;
     border-radius: 25px;
     text-align: right;
     box-shadow: 5px 5px 15px #0F4669;

     transition: all 0.5s ease-out;

}

/* .item__container::before {
     position: absolute;
     left: -5em;
     top: 0;

     content: "";
     height: 3em;
     width: 5em;

     background: linear-gradient(90deg, rgba(2, 0, 36, 0) 31%, rgba(255, 255, 255, 0.37587006960556846) 68%, rgba(0, 212, 255, 1) 100%);


     clip-path: polygon(35% 0%, 100% 0%, 65% 100%, 0% 100%);
     transition: left 0.3s ease-out;
} */

.list__item:hover .item__container::before {
     left: 0em;
     opacity: 0.9;

}

.list__item:hover {
     transform: scaleX(1.1);
     /* box-shadow: 7px 7px 15px #0c3853; */
     border-radius: 15px;
     outline: 12px solid #0c385334;


}

.item__container::before {
     position: absolute;
     left: -15em;
     top: 0;
     z-index: 8;

     content: "";
     height: 3em;
     width: 15em;

     /* background-color: #ffc09c; */
     background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.7651435574229692) 0%, rgba(227, 227, 231, 0.3253676470588235) 0%, rgba(255, 192, 156, 1) 86%);
     opacity: 0.1;

     transition: left 0.5s ease-out;
}

p {
     position: relative;
     display: block;
     z-index: 10;
}